@page "/paymentmethod"
@page "/paymentmethod/list"
@inject IPaymentMethodService PaymentMethodService
@inject IJSRuntime JSRuntime
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager
@inject IUserService UserService

<ConfirmDialog @ref="dialog" />
<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="2000" Placement="ToastsPlacement.TopRight" />

<Card Style="width:100%;margin-bottom:50px;">
    <CardHeader Color="CardColor.Light">
        <h2>Payment Methods</h2>
        <button style="border:none;background-color:transparent;" @onclick="NavigateToCreate" disabled="@checkRole("add-payment-method")"><Icon Name="IconName.PlusCircleFill" Size="IconSize.x2" Color="IconColor.Success" /></button>
    </CardHeader>
    <CardBody>
        <div>
            @if (paymentMethodList is null)
            {
                <p><em>Nothing yet.........................!</em></p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Payment Method</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var paymentMethod in paymentMethodList)
                        {
                            // string detailLink = $"/classroom/detail/{classRoom.Id}";
                            string editlLink = $"/paymentmethod/edit/{paymentMethod.Id}";

                            <tr>
                                <td>@paymentMethod.PaymentMethodName</td>

                                <td class="text-right">
                                    <Dropdown>
                                        <DropdownToggleButton Color="ButtonColor.Secondary">
                                            <Icon Name="IconName.GearFill" Class="menuIcons"></Icon>
                                        </DropdownToggleButton>
                                        <DropdownMenu>

                                            <DropdownItem To="@editlLink" Type="ButtonType.Link" Disabled="@checkRole("edit-payment-method")">Edit</DropdownItem>

                                            <DropdownItem Type="ButtonType.Button" Disabled="@checkRole("delete-payment-method")" @onclick="@(e => DeletePaymentMethod(paymentMethod))">Delete</DropdownItem>

                                        </DropdownMenu>
                                    </Dropdown>



                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }


        </div>
    </CardBody>
</Card>



@code {
    List<PaymentMethod> paymentMethodList = new List<PaymentMethod>();
    public User user_sesstion = new User();
    private ConfirmDialog dialog = default!;
    List<ToastMessage> messages = new List<ToastMessage>();
    private void ShowMessage(ToastType toastType, string title, string msg) => messages.Add(CreateToastMessage(toastType, title, msg));

    private ToastMessage CreateToastMessage(ToastType toastType, string title, string msg)
    => new ToastMessage
        {
            Type = toastType,
            Title = title,
            Message = msg,
        };
    protected override async Task OnInitializedAsync()
    {
        int userId = 0;

        paymentMethodList = await Task.Run(() => PaymentMethodService.GetPaymentMethods());
        var result_UserId = await ProtectedSessionStore.GetAsync<int>("UserId");
        if (result_UserId.Success)
        {
            userId = result_UserId.Value;
        }
        if (userId > 0)
        {
            user_sesstion = await Task.Run(() => UserService.GetUserById(userId));
        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }
    bool checkRole(string roleName)
    {
        if (user_sesstion?.Roles?.Any(role => role.Functions.Any(rf => rf.FunctionName == roleName)) ?? false)
            return false;
        return true;
    }

    async Task DeletePaymentMethod(PaymentMethod paymentMethod)
    {
        bool success = false;
        var confirmation = await dialog.ShowAsync(
            title: $"Are you sure you want to delete Payment Method: ({paymentMethod.PaymentMethodName})?",
            message1: "This will delete the Payment Method. Once deleted can not be rolled back.",
            message2: "Do you want to proceed?");
        try
        {
            if (confirmation)
            {
                if (paymentMethod != null)
                {
                    success = await PaymentMethodService.DeletPaymentMethod(paymentMethod);
                    if (success)
                    {
                        ShowMessage(ToastType.Success, "delete succeeded", "The Subscription has been deleted successfully.");
                        paymentMethodList.RemoveAll(x => x.Id == paymentMethod.Id);
                    }
                }
            }
        }
        catch
        {
            ShowMessage(ToastType.Danger, "Deleting Error", "Unable to delete the payment methods as it is associated with other entries."); 
        
        }   

    }
    void NavigateToCreate()
    {
        if (!checkRole("add-payment-method"))
        {
            NavigationManager.NavigateTo("/paymentmethod/create");
        }
    }


}
